@value site-max-width, bp-md, bp-lg, unit-md, unit-lg from './variables.css';

/* limits width and centers item */
@define-mixin container $width: 1260px {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

/* allows background to be 100% width whilst content is contained and centered. */
@define-mixin constrainer $maxwidth: 1260px {
  @value maxwidth: $maxwidth / 2;
  padding-left: calc(50% - maxwidth);
  padding-right: calc(50% - maxwidth);
}

/* include under input {} */

@define-mixin placeholder-color $clr: #444 {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $clr;
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $clr;
    opacity:  1;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $clr;
    opacity:  1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $clr;
  }

  &:placeholder-shown { /* Standard (https:/*drafts.csswg.org/selectors-4/#placeholder) */ */
    color: $clr;
  }
}

/* angled background stripes for disabled cards */
@define-mixin bg-stripes $color1: rgba(#fff, .25), $color2: transparent {
  background-size: 6px 6px;
  background-image: linear-gradient(-45deg, $color1 25%, $color2 25%,
                                            $color2 50%, $color1 50%,
                                            $color1 75%, $color2 75%, $color2);
  background-repeat: repeat;
}
