{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": false,
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["last 4 versions", "> 1%"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": true
          }
        ]
      ]
    },
    "production": {
      "only": ["app"],
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": false
          }
        ],
        "recharts",
        [
          "transform-imports",
          {
            "voca": {
              "transform": "voca/${member}",
              "preventFullImport": true,
              "snakeCase": true
            },
            "date-fns": {
              "transform": "date-fns/${member}",
              "preventFullImport": true,
              "snakeCase": true
            },
            "recompose": {
              "transform": "recompose/${member}",
              "preventFullImport": true
            },
            "lodash": {
              "transform": "lodash/${member}",
              "preventFullImport": true
            },
            "redux-form": {
              "transform": "redux-form/es/${member}",
              "preventFullImport": true
            }
          }
        ],
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ],
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-react-constant-elements"
      ]
    },
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs", "dynamic-import-node"]
    }
  }
}
