{
  "presets": [
    [
      "env",
      {
        "loose": false,
        "modules": false,
        "targets": {
          "browsers": ["last 4 versions", "> 1%"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "voca": {
          "transform": "voca/${member}",
          "preventFullImport": true,
          "snakeCase": true
        },
        "date-fns": {
          "transform": "date-fns/${member}",
          "preventFullImport": true,
          "snakeCase": true
        },
        "recompose": {
          "transform": "recompose/${member}",
          "preventFullImport": true
        },
        "wanakana": {
          "transform": "wanakana/${member}",
          "preventFullImport": true
        },
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        },
        "redux-form": {
          "transform": "redux-form/es/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["babel-plugin-styled-components"]
    },
    "production": {
      "only": ["app"],
      "plugins": [
        "babel-plugin-styled-components",
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ],
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
