{
  "presets": [
      [
        "env",
        {
          "loose": true,
          "modules": false,
          "targets": {
            "browsers": [
              "last 4 versions",
              "> 1%"
            ]
          }
        }
      ],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "only": [
        "app"
      ],
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ],
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "commonjs": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
