import React from 'react';
// import PropTypes from 'prop-types';
// import styled from 'styled-components';

{{ properCase name }}.propTypes = {

};

function {{ properCase name }}() {
  return (
    <div>
      
    </div>
  );
}

export default {{ properCase name }};
