import React from 'react';
import PropTypes from 'prop-types';

class {{ properCase name }} extends {{{ type }}} { // eslint-disable-line react/prefer-stateless-function
  static propTypes = {

  }

  render() {
    return (
      <div>
        <h1>Hello {{properCase name}}</h1>
      </div>
    );
  }
}

export default {{ properCase name }};
